.skills__type__nav {
    @include dimensions($width: 500px);
    @include flex();
    position: relative;
    background: $color_black;
    color: $color_white;
    margin: 2rem auto;
    border-radius: 50px;

    label {
        @include flex();
        @include dimensions($width: 100%);
        padding: 0.5rem;
        cursor: pointer;
        z-index: 1;

        input {
            display: none;
        }
    }

    .selected {
        position: absolute;
        height: 70%;
        left: 0;
        top: 50%;
        transition: 0.15s ease;
        background-color: $color_green;
        border-radius: 50px;
    }
}
