.loader {
    @include dimensions($height: calc(100vh - $navbar_height));
    @include flex();
    background-color: $loader_background;
    color: $color_white;

    h2 {
        font-family: $font_helvetica;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 8px;
        background-image: $color_loader;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &::before {
        content: "";
        position: fixed;
        top: calc(50% - 40px);
        left: calc(50% - 30px);
        border: 2px solid #45424d !important;
        border-top-color: #e1dfec !important;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: loader 1s linear infinite;
    }
}