.navbar {
    @include dimensions($height: $navbar_height);
    @include flex($justify: space-between);
    padding: 0 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all .5s;

    @media screen and (max-width: 1050px) {
        padding: 0 2rem;
    }

    .navbar__logo {
        @include flex();

        img {
            @include dimensions($width: 30px);
        }

        .navbar__logo__title {
            font-family: $font_fira_code;
            font-size: 1.5em;
            color: $color_green;
            margin-left: .5rem;
        }

        .navbar__logo__blink {
            color: $color_deep_navy_blue;
            font-size: 1.8em;
            font-weight: 600;
            animation: blink-animation 1s steps(5, start) infinite;
        }
    }

    .navbar__links {
        @include flex($align: center);
        transition: all .5s;
        ul {
            @include flex();
            text-transform: uppercase;
            font-family: $font_share_tech;
            font-size: 1.05em;
            li {
                margin: 0 1rem;
                &:first-of-type {
                    margin-left: 0;
                }

                a {
                    &:hover {
                        color: $color_blue;
                    }
                }

                .navbar__link__active {
                    color: $color_green;
                }
            }
        }

        .navbar__github__link {
            @include flex();
            margin-left: 2rem;

            a {
                @include flex();
            }
        }

        .navbar__button {
            @include flex();
            margin-left: 2rem;
            button {
                @include flex();
                padding: 1rem 1.8rem;
                border-radius: 5px;
                font-size: 1.1em;
                background: $color_green;
                color: $color_white;
            }
        }

        @media screen and (max-width: 950px) {
            @include flex($direction: column, $justify: space-around);
            @include dimensions(340px, calc(100vh - 20px));
            background-color: $color_light_background;
            border-top: 2px solid $color_grey_light;
            border-radius: 2px;
            position: absolute;
            transform: scale(0);
            top: 10px;
            right: 10px;

            ul {
                @include flex($direction: column, $justify: space-between, $align: flex-start);
                align-self: flex-start;
                margin-top: 2rem;
                padding: 0 1.5rem;
                li {
                    margin: 1rem 0;

                    a {
                        font-size: 1.2rem;
                    }
                }
            }

            .navbar__github__link {
                display: none;
            }
        }
    }

    .navbar__hamburger {
        cursor: pointer;
        display: none;

        input {
            display: none;
        }

        svg {
            @include dimensions($height: 3em);
            transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .line {
            fill: none;
            stroke: $color_white;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 3;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .line_top_bottom {
            stroke-dasharray: 12 63;
        }

        input:checked + svg {
            transform: rotate(-45deg);
        }

        input:checked + svg .line_top_bottom {
            stroke-dasharray: 20 300;
            stroke-dashoffset: -32.42;
        }

        @media screen and (max-width: 950px) {
            @include flex();
        }
    }
}