.about {
    @include flex($justify: space-evenly);

    .about__image {
        @include dimensions($width: 40%);
    }
    
    .about__text {
        @include dimensions($width: 40%);
        h2 {
            letter-spacing: 3px;
            text-transform: uppercase;
            color: $color_green;
            font-size: 15px;
            font-weight: 500;
        }

        .about__description {
            margin: .8rem 0;

            h3 {
                font-size: 1.8rem;
                color: $color_white;
                text-transform: uppercase;
                font-weight: 500;
            }

            p {
                margin: 1rem 0;
                font-size: 1rem;
            }
        }

        .about__download__button {
            @include flex();
            margin-top: 2rem;
            padding: 1rem;
            border-radius: 5px;
            font-size: 1.1em;
            background: $color_green;
            color: $color_black;

            span {
                margin: 0 .2rem;
            }
        }
    }

    @media screen and (max-width: 950px) {
        @include flex(column-reverse);

        .about__image {
            @include dimensions(90%);
        }
    
        .about__text {
            @include dimensions($width: 80%);
            margin: 2rem 0 3rem;
            text-align: justify;
        }
    }

}