.home {
    background: url("./assets/images/background.png") no-repeat center/cover;

    .home__content {
        @include flex($justify: center);
        min-height: calc(100vh - $navbar_height);
        background-color: $color_background_transparent;

        .home__presentation {
            @include flex($direction: column, $justify: space-evenly, $align: flex-start);
            @include dimensions($width: 40%);

            .home__text {
                h1 {
                    @include dimensions($width: 80%);
                    max-width: 400px;
                    font-size: 1.1rem;
                    font-weight: 100;
                    font-family: $font_fira_code;
                    text-transform: uppercase;
                    color: $color_yellow;
                }

                h2 {
                    @include dimensions($width: 80%);
                    max-width: 400px;
                    margin: 0.5rem 0 1rem;
                    font-size: 2.5rem;
                    color: $color_grey_light2;

                    span {
                        background: $gradient_text;
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                    }
                }

                p {
                    @include dimensions($width: 80%);
                    max-width: 400px;
                    color: $color_grey_light2;
                    font-size: 1rem;
                }
            }

            .socialNetworks {
                @include flex($direction: column, $align: flex-start);
                @include dimensions($width: 80%);
                max-width: 400px;
                
                h3 {
                    margin: 2rem 0 0.8rem;
                    color: $color_grey_light2;
                    font-weight: lighter;
                }

                ul {
                    @include flex();

                    li {
                        margin: 0 0.5rem;
                        &:first-of-type {
                            margin-left: 0;
                        }

                        &:last-of-type {
                            margin-right: 0;
                        }

                        a {
                            @include flex();
                            border: 1px solid $color_white;
                            padding: 0.5rem;
                            border-radius: 50%;
                            img {
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }

        .home__image {
            @include dimensions($width: 40%);
            @include flex();
        }

        @media screen and (max-width: 850px) {
            @include flex($direction: column);

            .home__presentation {
                @include flex($direction: column, $align: center);
                @include dimensions($width: 100%);
                margin: 3rem 0;

                .home__text {
                    @include dimensions($width: 100%);
                    @include flex($direction: column, $align: center);

                    h1, h2,p {
                        text-align: justify;
                    }
                }
            }

            .home__image {
                @include dimensions($width: 90%);
                @include flex();
                margin-bottom: 2rem;
            }
        }
    }
}
