.skills {
    background: url("https://i.imgur.com/Wro5Fks.png") no-repeat center/cover;
    .skills__content {
        @include flex($direction: column, $justify: space-evenly);
        @include dimensions(
            $width: 100%,
            $height: calc(100vh - $navbar_height)
        );
        background-color: $color_background_transparent;
        .skills__swiper {
            @include flex();
            @include dimensions($width: 280px);

            .skill__card {
                @include dimensions($height: 300px);
                @include flex(
                    $direction: column,
                    $justify: flex-start,
                    $align: center
                );
                position: relative;
                background: $color_backgound_card;
                border: 1px solid $color_card_border;
                border-radius: 17px;
                padding: 1.8rem;

                .skill__icon {
                    @include dimensions(100px, 100px);
                    @include flex();
                    border-radius: 50%;
                    background-color: $color_backgound_card_icon;

                    img {
                        @include dimensions($width: 60%);
                    }
                }

                .skill__name {
                    margin: 1.5rem 0;
                    font-size: 1.3rem;
                }

                .skill__date {
                    position: absolute;
                    bottom: 2rem;
                    border: 1px solid $color_card_border;
                    padding: 0.1rem 1.5rem;
                    border-radius: 50px;
                }
            }
        }
    }

    @media screen and (min-width: 1440px) {
        .skills__content {
            .skills__swiper {
                @include dimensions($width: 420px);

                .skill__card {
                    @include dimensions($height: 430px);

                    .skill__icon {
                        @include dimensions(200px, 200px);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 640px) {
        .skills__content {
            @include flex($direction: column, $justify: inherit);

            .skill__card {
                @include dimensions($height: 250px);
                @include flex(
                    $direction: column,
                    $justify: flex-start,
                    $align: center
                );
                position: relative;
                background: $color_backgound_card;
                border: 1px solid $color_card_border;
                border-radius: 17px;
                padding: 1.8rem;

                .skill__icon {
                    @include dimensions(100px, 100px);
                    @include flex();
                    border-radius: 50%;
                    background-color: $color_backgound_card_icon;

                    img {
                        @include dimensions($width: 60%);
                    }
                }

                .skill__name {
                    margin: 1.5rem 0;
                    font-size: 1.3rem;
                }

                .skill__date {
                    position: absolute;
                    bottom: 1rem;
                    border: 1px solid $color_card_border;
                    padding: 0.1rem 1.5rem;
                    border-radius: 50px;
                }
            }
        }
    }
}
