* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color_background;
    font-family: $font_poppins;
    font-size: .88rem;
    user-select: none;
    transition: background .5s ease;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $color_white;
}

li {
  list-style: none;
}

button {
    cursor: pointer;
    border: none;
}

.home, .about, .skills, .myWorks, .contact {
    @include dimensions($height: calc(100vh - $navbar_height));
    margin-top: $navbar_height;

    @media screen and (max-width: 850px) {
        height: initial;
    }
}