* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color_background;
    color: $color_grey_darker;
    font-family: $font_poppins;
    font-size: .88rem;
    user-select: none;
    transition: background .5s ease;
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $color_white;
}

li {
  list-style: none;
}

button {
    @include flex($justify: space-between);
    cursor: pointer;
    border: none;
    padding: 1rem 1.8rem;
    border-radius: 5px;
    font-size: 1.1em;
    background: $color_green;
}

.home, .about, .skills, .works, .jokes {
    width: 100%;
    min-height: calc(100vh - $navbar_height);
    margin-top: $navbar_height;

    @media screen and (max-width: 850px) {
        height: initial;
    }

    .error {
        color: $color_error;
    }
}