/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600;700&family=Inconsolata:wght@300&family=Jost:wght@300;400;500;600;700&family=Meddon&family=Mr+Dafoe&family=Oswald:wght@300;400&family=Playfair+Display:ital,wght@0,700;0,800;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&family=Rubik:wght@300;400;500;600;700&family=Share+Tech+Mono&family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap");

/* Fonts */
$font_helvetica: helvetica, arial, sans-serif;
$font_poppins: "Poppins", sans-serif;
$font_jost: "Jost", sans-serif;
$font_insonsolata: "Inconsolata", monospace;
$font_meddon: "Meddon", cursive;
$font_mr_dafoe: "Mr Dafoe", cursive;
$font_oswald: "Oswald", sans-serif;
$font_playfair: "Playfair Display", serif;
$font_rubik: "Rubik", sans-serif;
$font_share_tech: "Share Tech Mono", monospace;
$font_source_code: "Source Code Pro", monospace;
$font_fira_code: "Fira Code", monospace;

/* Global colors */
$color_black: #333;
$color_deep_navy_blue: #272f38;
$color_background: #0d012c;
$color_background_transparent: #0d012cbd;
$color_light_background: #04133a;
$color_grey: #ecedf3;
$color_grey_light: #f2f7f9;
$color_grey_light2: #ccc;
$color_white: #fff;
$color_error: firebrick;
$loader_background: #0d0d14;
$loader_grey: #45424d;
$loader_white: #e1dfec;


/*TODO*/
$color_green: #59c378;
$color_blue: #0056b3;
$color_yellow: #eff30e;

$color_light: rgba(132, 139, 200, 0.18);

$gradient_text: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
$color_loader: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);

$color_background_2: #0d012c;
$color_icon_background: #464a68;
$color_card_background: #1f0a44 0;

$color_card: #313552;
$card_border_radius: 2rem;
$border_radius_1: 0.4rem;
$border_radius_2: 0.8rem;
$border_radius_3: 1.2rem;

$navbar_height: 90px;
$card_padding: 1.8rem;
$padding_1: 1.2rem;

$box_shadow: 0.2rem 3rem var(var($color_light));
$card_box_shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%) !important;
$card_box_shadow_hover: 0px 30px 60px 0px rgb(0 0 0 / 10%) !important;

/*TODO rename variables*/
