// Settings
@import "_mixins.scss";
@import "_variables.scss";
@import "_keyframes.scss";
@import "_globals.scss";

// Components
@import "./components/Navbar.module.scss";
@import "./pages/Home.module.scss";
@import "./pages/About.module.scss";
@import "./pages/Skills.module.scss";
@import "./pages/MyWorks.module.scss";
@import "./pages/Contact.module.scss";

.home {
    background-color: blue;
    height: 100vh;
}

.about {
    background-color: red;
    height: 100vh;
}

.skills {
    background-color: green;
    height: 100vh;
}

.myWorks {
    background-color: yellow;
    height: 100vh;
}

.contact {
    background-color: purple;
    height: 100vh;
}
